[package]
name = "lavendeux-parser"
description = "Extensible parsing engine for expression evaluation"
license = "MIT OR Apache-2.0"
keywords = ["parser", "text", "math"]
categories = ["parser-implementations", "development-tools", "command-line-utilities", "encoding"]
homepage = "https://rscarson.github.io/Lavendeux/"
repository = "https://github.com/rscarson/lavendeux-parser"
readme = "readme.md"
version = "0.7.2"
edition = "2021"

[features]
default = ["extensions"]
extensions = ["js-sandbox"]

[dependencies]
regex = "1.6.0"
pest = "2.2.1"
pest_derive = "2.2.1"
serde = { version = "1.0.147", features = ["derive"] }
serde_json = "1.0.83"
reqwest = { version = "0.11.11", features = ["blocking"] }
chrono = "0.4.22"
rand = "0.8.4"
derive_more = "0.99.17"

# Feature deps
js-sandbox = { version = "0.1.6", optional = true }

[dev-dependencies]
version-sync = "0.9"