[package]
name = "lavendeux-parser"
description = "Extensible parsing engine for expression evaluation"
license = "MIT OR Apache-2.0"
keywords = ["parser", "text", "math"]
categories = ["parser-implementations", "development-tools", "command-line-utilities", "encoding"]
homepage = "https://rscarson.github.io/Lavendeux/"
repository = "https://github.com/rscarson/lavendeux-parser"
readme = "readme.md"
version = "0.4.0"
edition = "2021"

[dependencies]
pest = "2.1.3"
pest_derive = "2.1.0"
rand = "0.8.4"
reqwest = { version = "0.11.10", features = ["blocking"] }
chrono = "0.4.19"
derive_more = "0.99.17"
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.79"
js-sandbox = "0.1.6"