[package]
name = "lavendeux-parser"
readme = "readme.md"
license = "MIT OR Apache-2.0"
keywords = ["parser", "text", "math"]
categories = ["parser-implementations", "development-tools", "command-line-utilities", "encoding"]
version = "0.2.0"
edition = "2022"

[dependencies]
pest = "2.1.3"
pest_derive = "2.1.0"
derive_more = "0.9.0"
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.79"
js-sandbox = "0.1.6"