[package]
name = "lavendeux-parser"
description = "Extensible parsing engine for expression evaluation"
license = "MIT OR Apache-2.0"
keywords = ["parser", "text", "math"]
categories = ["parser-implementations", "development-tools", "command-line-utilities", "encoding"]
homepage = "https://rscarson.github.io/Lavendeux/"
repository = "https://github.com/rscarson/lavendeux-parser"
readme = "readme.md"
version = "0.8.0"
edition = "2021"

[features]
default = ["extensions"]
extensions = ["js-sandbox"]

[dependencies]
regex = "1.7.1"
pest = "2.5.5"
pest_derive = "2.4.0"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.93"
reqwest = { version = "0.11.14", features = ["blocking"] }
chrono = "0.4.23"
rand = "0.8.4"
derive_more = "0.99.17"

# Feature deps
js-sandbox = { version = "0.1.6", optional = true }

[dev-dependencies]
version-sync = "0.9"
cargo-readme = "3.2.0"